/* Login form container */
.login-container {
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 5px solid #ccc;
    border-radius: 5px;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10em;  
    font-size: large;
}



.login-input {
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size:medium;
}

.login-button {
    width: 20%;
    padding: 10px;
    background: #172b4d;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.login-error {
    color: red;
    margin-top: 10px;
}